<div class="row">
            <!-- left side -->
            <center>
                <div class="col-md-6">
                    <h3>Ready to eat!</h3>

                    <!-- Dynamically Insert Ready Burgers Here -->
                    {{#each burgers}}
                        {{#unless devoured}}
                         <form action="api/burgers/{{id}}" method="POST">
                            <div class="input-group">
                                <li class ="form-control">
                                    {{id}}. {{burger}}
                                </li>
                                <span class="input-group-btn">
                                    <button class="btn btn-success devour-button" type="submit">Devour It!</button>
                                </span>
                            </div>
                        </form>
                        {{/unless}}
                    {{/each}}
                </div>
            

            <!-- right side -->
            <div class="col-md-6">
                    <h3>Already Eaten!</h3>
                    <div class="input-group">
                        {{#each burgers}}
                            {{#if this.devoured}}
                                <li class ="form-control" id="devouredInput">
                                {{this.id}}. {{this.burger}}
                                </li>
                            {{/if}}
                        {{/each}}
                    </div>
            </div>

            </center>
        </div>